---
layout: default
---

<div class="content">
  {% include pagination-newer.html %}

  {{ content }}


  <div class="projects">
  {% for post in paginator.posts %}

  <div class="project-body" style="background-size: cover; background-repeat: no-repeat; background-image:  url({{ post.image | prepend: site.baseurl }})">
    <!-- <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}" class="img-project"/> -->
    <div class="project-content">
      <h2 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
<!--       {% include post-meta.html post=post %}

      {% if post.excerpt %}
        {{ post.excerpt }}
      {% else %}
        {{ post.content }}
      {% endif %}

      {% if post.excerpt %}
        {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
        {% capture content_words %}
          {{ post.content | number_of_words }}
        {% endcapture %}
        {% capture excerpt_words %}
          {{ post.excerpt | number_of_words }}
        {% endcapture %}

        {% if content_words != excerpt_words %}
          <a href="{{ site.baseurl }}{{ post.url }}">More &hellip;</a>
        {% endif %}
      {% endif %}
 -->    
    </div>
  </div>


  <!-- <article class="post-body">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    {% include post-meta.html post=post %}

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <a href="{{ site.baseurl }}{{ post.url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
  </article> -->
  {% endfor %}

  </div>


  {% include pagination-older.html %}
</div>